<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head', {pageCSS: 'products.css', mediaQueries: 'media.css', title: 'PRODUCTS'}) %>
</head>
<body>
    <!-- ADD PRODUCT OVERLAY -->
    <%- include('../includes/add-overlay') %>
    <!-- ADD PRODUCT OVERLAY -->
    <section id="prod-main">
        <div id="prod-container" class="row">
            <div class="header">
                <div class="head-items center">
                    <a href="javascript:void(0)" class="span-ico">
                        <ion-icon class="arr-ico center" name="arrow-back-outline"></ion-icon>
                    </a>
                    <div class="hol-items center">
                        <button class="btn btn-success add-btn add-prd">Add Product</button>
                        <button class="btn btn-primary add-btn">In Stock</button>
                        <button class="btn btn-danger add-btn">Out of Stock</button>
                    </div>
                </div>
            </div>

            <div class="cont-body row">                
                <div class="hol-cir-spans">
                    <a href="/devices/se" class="circ-spans" style="background-image: url('/imgs/categ/phones/SE/se2.png');">
                        <div class="cir-cont center">
                            <span class="center">IPHONE SE</span>
                        </div>
                    </a>
                </div>
                <div class="hol-cir-spans">
                    <a href="/devices/5" class="circ-spans" style="background-image: url('/imgs/categ/phones/5/5s.png');">
                        <div class="cir-cont center">
                            <span class="center">IPHONE 5</span>
                        </div>
                    </a>
                </div>
                <div class="hol-cir-spans">
                    <a href="/devices/6" class="circ-spans" style="background-image: url('/imgs/categ/phones/6/6.png');">
                        <div class="cir-cont center">
                            <span class="center">IPHONE 6</span>
                        </div>
                    </a>
                </div>
                <div class="hol-cir-spans">
                    <a href="/devices/7" class="circ-spans" style="background-image: url('/imgs/categ/phones/7/7.png');">
                        <div class="cir-cont center">
                            <span class="center">IPHONE 7</span>
                        </div>
                    </a>
                </div>
                <div class="hol-cir-spans">
                    <a href="/devices/8" class="circ-spans" style="background-image: url('/imgs/categ/phones/8/8.png');">
                        <div class="cir-cont center">
                            <span class="center">IPHONE 8</span>
                        </div>
                    </a>
                </div>
                <div class="hol-cir-spans">
                    <a href="/devices/x" class="circ-spans" style="background-image: url('/imgs/categ/phones/x/x.png');">
                        <div class="cir-cont center">
                            <span class="center">IPHONE X</span>
                        </div>
                    </a>
                </div>
                <div class="hol-cir-spans">
                    <a href="/devices/11" class="circ-spans" style="background-image: url('/imgs/categ/phones/11/11.png');">
                        <div class="cir-cont center">
                            <span class="center">IPHONE 11</span>
                        </div>
                    </a>
                </div>
                <div class="hol-cir-spans">
                    <a href="/devices/12" class="circ-spans" style="background-image: url('/imgs/categ/phones/12/12.png');">
                        <div class="cir-cont center">
                            <span class="center">IPHONE 12</span>
                        </div>
                    </a>
                </div>
                <div class="hol-cir-spans">
                    <a href="/devices/13" class="circ-spans" style="background-image: url('/imgs/categ/phones/13/13mini.png');">
                        <div class="cir-cont center">
                            <span class="center">IPHONE 13</span>
                        </div>
                    </a>
                </div>
                <div class="hol-cir-spans">
                    <a href="/devices/14" class="circ-spans" style="background-image: url('/imgs/categ/phones/14/14pro.png');">
                        <div class="cir-cont center">
                            <span class="center">IPHONE 14</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <%- include('../includes/footer') %> 
</body>
</html>