<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <title>SECTIONS</title> -->
    <%- include('../includes/head', {pageCSS: 'sections.css', mediaQueries: 'media.css', title: 'SECTION'}) %>
</head>
<body>
    <section id="sec-main">
        <div id="sec-container" class="">
            <div class="span-1-of-3 row">
                <a href="/" class="sub-secs btn btn-danger">
                    <span class="center span-sec"><ion-icon name="home-outline"></ion-icon><span class="ico">HOME</span></span>
                </a>
                <a href="/accounts" class="sub-secs btn btn-primary">
                    <span class="center span-sec"><ion-icon name="bar-chart-outline"></ion-icon><span class="ico">SALES</span></span>
                </a>
                <a href="/search" class="sub-secs btn btn-warning">
                    <span class="center span-sec"><ion-icon name="search-outline"></ion-icon><span class="ico">SEARCH</span></span>
                </a>
                <a href="#" class="sub-secs btn btn-light">
                    <span class="center span-sec"><ion-icon name="settings-outline"></ion-icon><span class="ico">SETTINGS</span></span>
                </a>
            </div>
            <div class="span-2-of-3">
                <div class="span-body row">
                    <div class="hol-2-of-2">
                        <a href="/products/phones" class="span-2-of-2" style="background-image: url('/imgs/categ/nine.png');">
                            <div class="over-img">
                                <span class="categ-phones center">PHONES</span>
                            </div>
                        </a>
                    </div>
                    <div class="hol-2-of-2">
                        <a href="/devices/ipad" class="span-2-of-2" style="background-image: url('/imgs/categ/ipad.png');">
                            <div class="over-img">
                                <span class="categ-phones center">iPADs</span>
                            </div>
                        </a>
                    </div>
                    <div class="hol-2-of-2">
                        <a href="/devices/macbook" class="span-2-of-2" style="background-image: url('/imgs/categ/laptop.jpg');">
                            <div class="over-img">
                                <span class="categ-phones center">MacBOOKS</span>
                            </div>
                        </a>
                    </div>
                    <div class="hol-2-of-2">
                        <a href="/devices/series" class="span-2-of-2" style="background-image: url('/imgs/categ/fourteen.png');">
                            <div class="over-img">
                                <span class="categ-phones center">SERIES</span>
                            </div>
                        </a>
                    </div>
                    <div class="hol-2-of-2">
                        <a href="/devices/airpod" class="span-2-of-2" style="background-image: url('/imgs/categ/airpod.png');">
                            <div class="over-img">
                                <span class="categ-phones center">AIR PODS</span>
                            </div>
                        </a>
                    </div>
                    <div class="hol-2-of-2">
                        <a href="/devices/homepod" class="span-2-of-2" style="background-image: url('/imgs/categ/twelve.png');">
                            <div class="over-img">
                                <span class="categ-phones center">HOME PODS</span>
                            </div>
                        </a>
                    </div>    
                </div>
            </div>
        </div>
    </section>
</body>
</html>