#accounts-content{
    width: 100%;
    height: 500px;
    margin: auto;
    /* background-color: red; */
}

/* TODAY SECTION */
.hol-today{
    width: 80%;
    height: auto;
    margin: auto;
    font-family: 'IBM Plex Sans', sans-serif;
    /* background-color: blue; */
}

.today-amt{
    width: 60%;
    height: auto;
    /* background-color: green; */
}

.today-ico{
    font-size: 40px;
}

.cal-ico{
    position: relative;
    top: 7px;
}

.full-amt{
    font-size: 45px;
    font-weight: 500;
    /* background-color: blue; */
    margin-top: -15px;
    padding-left: 50px;
}

.tag-head{
    font-size: 14px;
    font-weight: 600;
    display: block;
    color:#7e8299;
    /* background-color: white; */
    margin-top: -10px;
    padding-left: 20px;
}

.today-amt .hol-tags{
    /* background-color: yellow; */
    margin-top: -30px;
}

.tags{
    background-color: #E4E6EF;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 14px;
    border: 3px solid white;
    margin: 4px;
}


.today-type{
    width: 40%;
    height: 100%;
    margin: 0 auto;
    /* background-color: yellow; */
}

.tran-type{
    width: 50%;
    height: auto;
    background-color: white;
    /* background: red; */
    padding: 40px 0;
    border-right: 2px solid var(--gray);
    /* padding-left: 20px; */
    border-radius: 12px;
    text-align: center;
}

.type-img{
    width: 80px;
    height: 80px;
    border: 5px solid var(--gray);
    box-shadow: 0 0 5px rgb(46, 46, 46);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    margin: auto;
}

.tran-type p{
    /* background: green; */
    font-size: 35px;
    font-weight: bold;
}
.tran-type span{
    display: block;
    margin-top: -20px;
    font-size: 18px;
}
/* TODAY SECTION */


/* PAST SECTION */
.hol-past{
    width: 90%;
    height: auto;
    margin: 30px auto;
    overflow: hidden;
    /* background-color: green; */
}

.left-chart{
    width: 55%;
    margin: auto;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    /* background-color: red; */
}

.left-head{
    background-color: #3d88f8;
    font-weight: 500;
    color: white;
    width: 100%;
    font-size: 17px;
}

.left-head span{
    display: inline-block;
    margin: 10px 40px;
}

.top-right{
    float: right;
}

.prds-sold{
    width: 100%;
    height: 350px;
    margin: 0 auto;
    margin-top: -10px;
    background-color: white;
    padding-top: 10px;
    overflow: auto;
}


.prds-sold ul{
    /* background-color: yellow; */
    width: 100%;
    margin: auto;
    list-style: none;
}

.prds-sold ul li{
    border-bottom: 2px solid var(--gray);
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #5e6e82;
    font-weight: bold;
}

.prds-sold ul li img{
    box-shadow: 0 0 3px rgb(151, 151, 151);
    border-radius: 5px;
    margin-left: 10px;
}

.prd-name{
    padding-left: 5px;
}

.all-spans{
    /* background-color: red; */
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-top: 5px;
}

.load{
    display: inline-block;
    width: 90px;
    height: 5px;
    border-radius: 10px;
    margin: 0 5px;
    background-color: #e0e8f2;
    position: relative;
    overflow: hidden;
}

.span-qty{
    display: inline-block;
    width: 40%;
    height: 5px;
    background-color: #2c7be5;
    position: absolute;
}



#trans-chart{
    width: 200px;
    height: 400px;
    margin: auto;
}

.right-chart{
    width: 40%;
    height: 400px;
    margin-left: 20px;
    /* background-color: rgb(194, 194, 194); */
}
/* PAST SECTION */
