#accounts-content{
    width: 95%;
    height: auto;
    margin: auto;
    /* margin-top: 20px; */
    /* padding-bottom: 20px; */
    /* background-color: yellow; */
}

/* TODAY SECTION */
.hol-today{
    width: 90%;
    height: auto;
    margin: auto;
    font-family: 'IBM Plex Sans', sans-serif;
    /* background-color: blue; */
}

.today-amt{
    width: 400px;
    height: auto;
    /* margin: auto; */
    /* background-color: pink; */
}

.today-ico{
    font-size: 40px;
    /* background-color: red; */
    display: inline-block;
    width: 40%;
    margin-left: 20px;

}

.period-form{
    width: 50%;
    display: inline-block;
    /* background-color: red; */
    position: relative;
}

.hol-reset{
    width: 200px;
    position: relative;
    /* background-color: blue; */
}

.period-form input, .period-form .reset{
    outline: none !important;
    display: inline-block;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    height: 40px;
    border: 2px solid orangered;
}

.period-form input{
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    width: 150px;
    border-right: none;
}

.period-form .reset{
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    width: 50px;
    margin-left: -4px;
    border-left: none;
    background-color: orangered;
    position: absolute;
}

.reset span{
    /* background-color: blue; */
    padding: 12px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.reset-ico{
    color: white;
}

.cal-ico{
    position: relative;
    top: 7px;
}

.full-amt{
    font-size: 45px;
    font-weight: 500;
    /* background-color: blue; */
    margin-top: -15px;
    padding-left: 50px;
    font-family: 'Aldrich', sans-serif;
}

.main-amt{
    /* font-family: 'Aldrich', sans-serif; */
    font-weight: bold;
}

.tag-head{
    font-size: 14px;
    font-weight: 600;
    display: block;
    color:#7e8299;
    /* background-color: white; */
    margin-top: -10px;
    padding-left: 20px;
}

.today-amt .hol-tags{
    /* background-color: yellow; */
    margin-top: -30px;
}

.tags{
    background-color: #E4E6EF;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 14px;
    border: 3px solid white;
    margin: 4px;
}


.today-type{
    width: 400px;
    height: 100%;
    margin: 0 auto;
    /* background-color: yellow; */
}

.tran-type{
    width: 200px;
    height: auto;
    background-color: white;
    padding: 40px 0;
    border-right: 2px solid var(--gray);
    /* padding-left: 20px; */
    border-radius: 12px;
    overflow-x: auto;
    text-align: center;
}

.type-img{
    width: 80px;
    height: 80px;
    border: 5px solid var(--gray);
    box-shadow: 0 0 5px rgb(46, 46, 46);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: auto;
}

.tran-type p{
    /* background: green; */
    font-size: 30px;
    font-weight: bold;
}
.tran-type .sub-span{
    display: block;
    margin-top: -20px;
    font-size: 18px;
}
/* TODAY SECTION */


/* PAST SECTION */
.hol-past{
    width: 90%;
    height: auto;
    margin: 30px auto;
    overflow: hidden;
    /* background-color: blue; */
}

.left-chart{
    width: 500px;
    margin: auto;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    /* background-color: red; */
}

.left-head{
    background-color: #3d88f8;
    font-weight: 500;
    color: white;
    width: 100%;
    font-size: 17px;
}

.left-head .top-left, .top-right{
    display: inline-block;
    margin: 10px 40px;
    /* background-color: green; */
}

.top-right{
    float: right;
    /* background-color: green; */
}

.left-head-amt{
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 40px;
    margin: 0 5px;
    /* margin-left: 10px; */
    background-color: #3d88f8;
    font-family: 'Aldrich', sans-serif;
    border: 3px solid var(--gray)
}

.prds-sold{
    width: 100%;
    height: 350px;
    margin: 0 auto;
    margin-top: -10px;
    background-color: white;
    padding-top: 10px;
    overflow: auto;
}


.prds-sold ul{
    /* background-color: yellow; */
    width: 100%;
    margin: auto;
    list-style: none;
}

.prds-sold ul li{
    height: 60px;
    border-bottom: 2px solid var(--gray);
    /* padding-bottom: 10px;
    margin-bottom: 10px; */
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #5e6e82;
    font-weight: bold;
    position: relative;
    /* background-color: green; */
}

.prds-sold ul li .hol-prd-img{
    width: 80px;
    height: 100%;
    position: relative;
    /* background-color: blue; */
    display: inline-block;
    padding-top: 5px;
    margin-right: 30px;
}

.prds-sold ul li .hol-prd-img div{
    position: absolute ;
    display: inline;
    /* background-color: red; */
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 3px rgb(151, 151, 151);
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 50px;
}

.top-cent{
    position: relative;
    top: -25px;
    left: -30px;
}

.prd-name{
    z-index: 10;
}

.all-spans{
    /* background-color: red; */
    display: inline-block;
    float: right;
    /* left: 80%; */
    /* width: 250px; */
    margin-right: 30px;
    margin-top: 20px;
}

.load{
    display: inline-block;
    width: 90px;
    height: 5px;
    border-radius: 10px;
    margin: 0 5px;
    background-color: #e0e8f2;
    position: relative;
    overflow: hidden;
}

.span-qty{
    display: inline-block;
    /* width: 40%; */
    height: 5px;
    background-color: #2c7be5;
    position: absolute;
}


.right-chart{
    width: 300px;
    height: 400px;
    margin-left: 20px;
    /* background-color: green; */
    /* background-color: rgb(194, 194, 194); */
}


#trans-chart{
    width: 200px;
    height: 400px;
    margin: auto;
    /* background-color: red; */
}
/* PAST SECTION */
