*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gray : #edf2f9;
    --bottom: rgb(219, 219, 219)
}

body{
    font-family: 'Alegreya Sans', sans-serif;
    background-color: var(--gray);
}

/* CHECKOUT OVERLAY */
.checkout-overlay{
    width: 100%;
    height: 100vh;
    overflow: auto;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.945);
    z-index: 20;
    display: none;
}

.checkout-content{
    width: 90%;
    height: 90vh;
    margin: auto;
    /* padding-bottom: 30px; */
    /* background-color: white; */
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: auto;
}

.items-left, .items-right{
    width: 40%;
    height: 100%;
    margin: auto;
    /* background-color: blue; */
    position: relative;
    overflow: auto;
}

.items-right{
    width: 60%;
}

.check-header{
    background-color: var(--gray);
    display: block;
    width: 100%;
    padding: 10px 0 10px 10px;
    font-size: 21px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

.hol-tags{
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    position: relative;
    /* background-color: blue; */
}


.tag-par{
    width: 150px;
    height: 130px;
    /* margin: auto; */
    margin-right: 10px;
    margin-bottom: 15px;
    border: 2px solid white;
    /* border-bottom: 2px solid var(--gray); */
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    outline: none !important;
    /* background-color: blue; */
    /* display: inline-block; */

}

.tag-over{
    position: absolute;
    width: 150px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0);
}

.tag-par img{
    width: 100%;
    height: 80px;
    object-fit: contain;
}

.tag-par p{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
    padding: 7px 0;
    margin-top: 15px;
    /* border-radius: 40px; */
}


.hol-tags button{
    display: inline-block;
    /* background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin: auto;
    margin-right: 5px;
    margin-bottom: 10px; */
    white-space: nowrap;
    cursor: pointer;
}

.add-cart{
    width: 95%;
    height: 100px;
    background-color: var(--gray);
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    position: relative;
}

.hol-img{
    width: 100px;
    height: 100px;
    /* background-color: black; */
    display: inline-block;
    position: relative;

}

.hol-prd-img{
    display: inline-block;
    width: 70px;
    height: 70px;
    background-position: center;
    background-size: cover;
}

.add-cart .form-rep{
    display: inline-block;
    width: 600px;
    left: 55%;
    /* background-color: yellow; */
}

.form-row{
    width: 600px;
    height: 100px;
    margin: auto;
    /* background-color: green; */
}

label{
    font-size: 19px;
    padding-left: 10px;
}

.form-row .hol-inps{
    width: 150px;
    height: auto;
    /* background-color: blue; */
}

.hol-qty-spans{
    width: 100%;
    height: 40px;
    /* background-color: green; */
    /* overflow: hidden; */
}

.hol-qty-spans .s-circs{
    background-color: black;
    color: white;
    border: 3px solid white;
    /* display: inline-block; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 5px black;
    outline: none !important;
}

.s-sqrs{
    /* background-color: blue; */
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    border: none;
}



.form-row .hol-inps input{
    width: 130px;
    padding: 10px 0px;
    border-radius: 5px;
    padding-left: 15px;
    border: 2px solid rgb(128, 128, 128);
    outline: none !important;
}

#qty{
    width: 100px;
}

.hol-x-ico{
    width: 20%;
    height: auto;
    /* background-color: black; */
    position: relative;
}

.x-ico{
    color: white;
    font-size: 22px;
    padding: 5px;
    background-color: red;
    border: 3px solid red;
    border-radius: 50%;
    text-shadow: 0 0 5px 5px black;
    cursor: pointer;
}

.x-ico:hover{
    background-color: white;
    color: red
}

.hol-sub-btns{
    margin-top: 20px;
    text-align: center;
    /* background-color: red; */
}

.hol-sub-btns .btn{
    padding: 10px 20px;
    margin: 5px;
}

.clicked{
    cursor: not-allowed;
}

/* CHECKOUT OVERLAY */

#analy-main{
    width: 100%;
    height: 100vh;
    margin: auto;
    overflow: auto;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hol-secs{
    width: 100%;
    height: 100%;
    margin: auto;
}

.left-nav{
    width: 25%;
    height: 100%;
    background-color: var(--gray);
    position: sticky;
    top: 0;
}

.right-section{
    width: 75%;
    /* height: auto; */
    background-color: var(--gray);
    overflow: auto;
}

.left-container{
    width: 90%;
    height: 98%;
    /* margin-left: 20px; */
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.logo-sec, .user-sec{
    width: 97%;
    height: 100px;
    margin: 20px auto;
    /* background-color: black; */
}

.logo-sec{
    margin-top: 0;
    width: 100%;
    /* background-color: black; */
}

.user-sec{
    border-radius: 10px;
    border: 2px solid var(--gray);
    overflow: hidden;
}

.user-img{
    width: 40%;
    height: 100%;
    position: relative;
    /* background-color: red; */
}

.user-dp{
    background: url('/imgs/categ/sales/imgs/user.jpg');
    background-position: center;
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* left: 35%; */
}

.user-text{
    width: 60%;
    height: 100%;
    position: relative;
    /* border-top-right-radius: 200px;
    border-bottom-right-radius: 200px; */
    background-color: rgb(174, 236, 28);
}

.hol-user-spans{
    width: 100%;
}

.user-text span{
    text-align: center;
    display: block;
    width: 100%;
    height: auto;
    /* background-color: red; */
    font-size: 22px;
}

.nav-cont{
    width: 100%;
    height: auto;
    /* background-color: green; */
}

.nav-cont ul{
    width: 90%;
    height: auto;
    margin: 80px auto;
    /* background-color: blue; */
}

.nav-cont ul li{
    list-style: none;
    width: 100%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    /* background-color: red; */
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 0 15px rgb(196, 196, 196);
    border: 2px solid white;
}

.li-ico{
    position: relative;
    width: 30%;
    height: 100%;
    background-color: var(--gray);
    border-right: none;
}

.li-text{
    position: relative;
    width: 70%;
    height: 100%;
    background-color: rgb(0, 171, 214);
}

.tv-ico{
    font-size: 30px;
    /* color: blue; */
}

.li-text span{
    font-size: 22px;
    color: white
}

.left-nav-footer{
    width: 100%;
    height: 120px;
    /* background-color: rgb(0, 121, 172); */
    /* border: 5px dashed var(--gray) */
}


.right-container{
    width: 100%;
    height: auto;
    /* overflow: hidden; */
    margin: auto;
    /* background-color: blue; */
}

.right-nav{
    width: 100%;
    height: auto;
    background-color: var(--gray);
    /* background-color: red; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    /* background-color: red; */
    padding-top: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.right-cont{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
    background-color: var(--gray);
    /* box-shadow: 0 0 3px rgb(195, 193, 193); */
}

.nav{
    width: 100%;
    height: 60px;
    background-color: white;
    border-radius: 10px;
    z-index: 5;
    margin: auto;
    position: relative;
    bottom: 0;
    overflow: hidden;
}

.nav form{
    /* background-color: red; */
    left: 16%;
    padding: 10px 10px;
}

.nav form input{
    width: 300px;
    height: 50px;
    padding: 5px 10px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--gray);
    outline: none !important;
}

.nav form button{
    height: 50px;
    border: none;
    margin-left: -5px;
    padding-right: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.nav form input::placeholder{
    font-size: 19px;
}

.hol-btns{
    width: 350px;
    height: 50px;
    /* background-color: red; */
    overflow: hidden;
    left: 90%;
}

.hol-btns span{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: rgb(128, 0, 255);
    border-radius: 5px;
    margin: auto 10px;
    position: relative;
    cursor: pointer;
    /* float: right; */
}

.hol-btns span:hover{
    background-color: rgb(116, 1, 231);

}

.top-ico{
    font-size: 24px;
    color: white;
}

.hol-date{
    /* background-color: blue; */
    width: 450px;
    height: 80px;
}

.todate{
    width: 100%;
    text-align: center;
    /* background-color: red; */
    font-size: 25px;
}

.date{
    font-weight: bold;
}

.time{
    display: inline-block;
    width: 150px;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 40px;
    margin-left: 20px;
    border: 4px solid var(--gray)
}