*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gray : #edf2f9;
    --bottom: rgb(219, 219, 219)
}

body{
    font-family: 'Alegreya Sans', sans-serif;
    /* background-color: black; */
}

#main{
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hol-secs{
    width: 100%;
    height: 100%;
    margin: auto;
}

.left-nav{
    width: 25%;
    height: 100%;
    background-color: var(--gray);
    position: sticky;
    top: 0;
}

.right-section{
    width: 75%;
    height: 100%;
    /* background-color: red; */
    overflow: auto;
}

.left-container{
    width: 90%;
    height: 98%;
    /* margin-left: 20px; */
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.logo-sec, .user-sec{
    width: 97%;
    height: 100px;
    margin: 20px auto;
    /* background-color: black; */
}

.logo-sec{
    margin-top: 0;
    width: 100%;
    background-color: black;
}

.user-sec{
    border-radius: 10px;
    border: 2px solid var(--gray);
    overflow: hidden;
}

.user-img{
    width: 40%;
    height: 100%;
    position: relative;
    /* background-color: red; */
}

.user-dp{
    background: url('/imgs/categ/sales/imgs/user.jpg');
    background-position: center;
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* left: 35%; */
}

.user-text{
    width: 60%;
    height: 100%;
    position: relative;
    /* border-top-right-radius: 200px;
    border-bottom-right-radius: 200px; */
    background-color: rgb(174, 236, 28);
}

.hol-user-spans{
    width: 100%;
}

.user-text span{
    text-align: center;
    display: block;
    width: 100%;
    height: auto;
    /* background-color: red; */
    font-size: 22px;
}

.nav-cont{
    width: 100%;
    height: auto;
    /* background-color: green; */
}

.nav-cont ul{
    width: 90%;
    height: auto;
    margin: 80px auto;
    /* background-color: blue; */
}

.nav-cont ul li{
    list-style: none;
    width: 100%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    /* background-color: red; */
}

.li-ico{
    position: relative;
    width: 30%;
    height: 100%;
    /* background-color: yellow; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 3px solid black;
    border-left: 3px dashed black;
}

.li-text{
    position: relative;
    width: 70%;
    height: 100%;
    background-color: black;
    /* border-right: 3px dashed white; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tv-ico{
    font-size: 30px;
    /* color: blue; */
}

.li-text span{
    font-size: 22px;
    color: white
}

.left-nav-footer{
    width: 100%;
    height: 120px;
    /* background-color: rgb(0, 121, 172); */
    /* border: 5px dashed var(--gray) */
}


.right-container{
    width: 100%;
    height: auto;
    /* overflow: hidden; */
    margin: auto;
    background-color: var(--gray);
    /* background-color: black; */
    padding-bottom: 20px;
}

.right-nav{
    width: 98%;
    height: auto;
    background-color: var(--gray);
    /* background-color: red; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    /* background-color: red; */
    padding-top: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.right-cont{
    width: 98%;
    height: 800px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    z-index: 10;
    overflow: hidden;
    box-shadow: 0 0 15px rgb(189, 189, 189);
    /* box-shadow: 0 0 3px rgb(195, 193, 193); */
}

.nav{
    width: 100%;
    height: 60px;
    background-color: white;
    border-radius: 10px;
    z-index: 5;
    margin: auto;
    position: relative;
    bottom: 0;
    overflow: hidden;
}

.nav form{
    /* background-color: red; */
    left: 16%;
    padding: 10px 10px;
}

.nav form input{
    width: 300px;
    height: 50px;
    padding: 5px 10px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--gray);
    outline: none !important;
}

.nav form button{
    height: 50px;
    border: none;
    margin-left: -5px;
    padding-right: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.nav form input::placeholder{
    font-size: 19px;
}

.hol-btns{
    width: 350px;
    height: 50px;
    /* background-color: red; */
    overflow: hidden;
    left: 90%;
}

.hol-btns span{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: rgb(128, 0, 255);
    border-radius: 5px;
    margin: auto 10px;
    position: relative;
    cursor: pointer;
    /* float: right; */
}

.hol-btns span:hover{
    background-color: rgb(116, 1, 231);

}

.top-ico{
    font-size: 24px;
    color: white;
}


.hol-bcumps{
    width: 98%;
    height: 200px;
    /* background-color: red; */
    margin: auto;
    margin-top: 20px;
    z-index: -1;
}

.span-1-of-3{
    width: 30%;
    height: 100%;
    margin: auto;
}

/* CARDS SECTION */
.card-body{
    position: relative;
}
.hol-chart{
    width: 100%;
    height: auto;
    /* background-color: red; */
    overflow: hidden;
}

.card-header span{
    font-size: 23px;
    font-weight: bold;
}

.card-body span{
    font-size: 30px;
}

#myChart{

}
/* CARDS SECTION */


/* MAIN CONTENTS SECTION */
.cont-header{
    /* background-color: rgb(234, 234, 234); */
    border-bottom: 1px solid var(--bottom);
    height: 100px;
    position: relative;
    /* margin-top: 30px; */
}

.cont-header span{
    /* padding-left: 50px; */
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 110px;
    transform: translate(-50%, -50%);
}

.table-cont{
    width: 95%;
    height: 400px;
    margin: auto;
    /* background-color: blue; */
}

.hol-table{
    /* width: 800px; */
    height: auto;
    margin: auto;
    /* background-color: green; */
    position: relative;
}

.hol-table tr{
    height: auto;
    margin: auto;
    background-color: rgb(252, 252, 252);
    border-radius: 30px;
}

.hol-table tr td{
    /* background-color: red; */
    border-bottom: 1px solid var(--bottom);
    text-align: center;
    width: 300px;
    font-size: 20px;
    padding: 15px 30px;
}

.amt{
    font-weight: bold;
}

td span{
    background-color: rgb(255, 203, 203);
    color: rgb(255, 0, 0);
    padding: 2px 10px;
    border-radius: 4px;
    font-size: 16px;
}
/* MAIN CONTENTS SECTION */