<script type="module">
    import {doValidation} from '/js/validation.js';

    document.querySelector('.span-ico').addEventListener('click', ()=>{
        window.history.back();
    })

    document.querySelector(".add-prd").addEventListener('click', () => {
        document.querySelector("#add-product-overlay").style.display = 'block';
    })

    document.querySelector('.cont-close').addEventListener('click', () => {
        document.querySelector("#add-product-overlay").style.display = 'none';
    })

    
    document.addEventListener('click', (e) => {
        if(!e.target.closest('.hol-spans-main')) return;
        const spanPar = e.target.closest('.hol-spans-main');
        const target = spanPar.querySelector('.categ-phones').dataset.target;
        document.querySelector('.overlay-content').style.display = 'none';
        document.querySelector('.data-content').style.display = 'block';
        document.querySelector('.hol-close-cont').style.display = 'none';
        document.querySelector('.prd-name').innerHTML = target.toUpperCase();
        const addFormContainer = document.querySelector('.add-form-row');
        const fetchFormCol = async () => {
            const fetchCol = await fetch(`http://localhost:3000/sections/${target}`);
            const theCols = await fetchCol.json(); 
            theCols.forEach(col => {
                if(col === 'dateAdded') return;
                // console.log(col);
                const vers = col.toUpperCase();
                const spanVer = (vers === 'VERSION') ? '' : '<span>*</span>';
                const inpField = `
                                <div class="form-group col-md-6">
                                    <label for="">${col.toUpperCase()} ${spanVer}</label>
                                    <input type="text" class="form-control" id="" name="${col}">
                                </div>`;
                addFormContainer.insertAdjacentHTML('beforeend', inpField)
            })
            // console.log(theCols);
        }
        fetchFormCol(); 
    })


    document.querySelector('.add-form').addEventListener('click', (e) => {
        e.preventDefault();
        if(!e.target.closest('.btn')) return;
        const clickAction = e.target.closest('.btn').dataset;
        if(clickAction.action === 'back'){
            document.querySelector('.add-form-row').innerHTML = '';
            document.querySelector('.overlay-content').style.display = 'block';
            document.querySelector('.data-content').style.display = 'none';
            document.querySelector('.hol-close-cont').style.display = 'block';     
        }

        if(clickAction.action === 'add'){
            let target = document.querySelector('.prd-name').innerHTML.toLowerCase();
            target = target.trim();
            doValidation('.add-form', `http://localhost:3000/insert/${target}`, 'POST');
        }
    })






</script>