<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head') %>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/media.css">
    <title>HOME</title>
</head>
<body>
    <section id="main">
        <div id="container" class="center">
            <div class="hol-circs row">
                <a href="/sections" class="span-circ" style="background-image: url(/imgs/inventory.jpg);">
                    <div class="inv-title">
                        <span class="center">STOCKS</span> 
                    </div>
                </a>
                
                <a href="/sales" class="span-circ" style="background-image: url(/imgs/sales.jpg);">
                    <div class="inv-title">
                        <span class="center">SALES</span> 
                    </div>
                </a>
                
                <a href="#" class="span-circ" style="background-image: url(/imgs/search.png);">
                    <div class="inv-title">
                        <span class="center">SEARCH</span> 
                    </div>
                </a>
                
                <a href="#" class="span-circ" style="background-image: url(/imgs/settings.jpg);">
                    <div class="inv-title">
                        <span class="center">SETTINGS</span> 
                    </div>
                </a>
                
            </div>
        </div>
    </section>
</body>
</html>