*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Allerta Stencil', sans-serif;
    /* background-color: yell; */
}

#main{
    background-color: black;
    position: relative;
    width: 100%;
    height: 100vh;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container{
    width: 90%;
    height: 90vh;
    border: 20px solid white;
    border-radius: 30px;
}

.hol-circs{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    margin: auto;
}

.span-circ{
    display: block;
    width: 250px;
    height: 250px;
    margin: auto;
    background-size: cover;
    background-position: center;
    border: 10px solid white;
    border-radius: 50%;
    transition: 0.3s;
}

.span-circ:hover{
    transform: scale(0.9);
}

.inv-title{
    width: 100%;
    height: 100%;
    background-color: rgba(7, 0, 0, 0.748);
    border-radius: 50%;
    position: relative;
}

.inv-title span{
    color: white;
    font-size: 40px;
    /* font-weight: bold; */
}