*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Allerta Stencil', sans-serif;
}

#sec-main{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('/imgs/categ/phones/six.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    overflow: auto;
    position: relative;
}

#sec-container{
    width: 100%;
    height: auto;
    position: relative;
    /* background-color: blue; */
    margin: auto;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


a{
    color: black;
}

a:hover{
    color: black;
}

.hol-1-of-3{
   

}

.span-1-of-3{
    background-color: rgb(42, 42, 42);
    width: 70%;
    height: 80px;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 10;

}

.span-2-of-3{
    width: 70%;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.305);
    /* background-color: red; */
    height: auto;
    overflow: auto;
    position: relative;
    z-index: 5;
}

.sub-secs{
    /* background-color: white; */
    display: inline-block;
    width: 20%;
    height: 50px;
    margin: auto;
    border-radius: 50px;
    position: relative;
}

.sub-secs:hover{
    background-color: black;
    color: white;
}

.sub-secs .span-sec{
    width: 90%;
    /* background-color: blue; */
    text-align: center;
}

.ico{
    /* background-color: red; */
    position: relative;
    padding-left: 3px;
    /* top: 3px; */
}

.span-head{
    width: 100%;
    height: 80px;
    /* background-color: red; */
    position: relative;
}

.hol-heads{
    width: 80%;
    height: auto;
    margin: auto;
    /* background-color: green; */
}

.head-of-1{
    width: 80%;
    /* background-color: yellow; */
    margin: auto;
}

.head-of-2{
    width: 20%;
    margin: auto;
    /* background-color: blue; */
}


.span-head form{
    width: 80%;
    height: auto;
    /* background-color: blue; */
}

.span-head form input{
    width: 600px;
    height: 60px;
    border-radius: 40px;
    padding: 10px 30px;
    margin: auto;
}

.span-head form input::placeholder{
    font-size: 20px;
    text-align: center;
}

.notif{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}

.notif span{
    /* background-color: red; */
    font-size: 40px;
}




.span-body{
    width: 90%;
    height: auto;
    /* background-color: yellow; */
    margin: auto;
    /* margin-top: 30px; */
}

.span-body .hol-2-of-2{
    width: 33.33%;
    height: 300px;
    /* background-color: blue; */
    margin-bottom: 40px;
}

.span-2-of-2{
    display: block;
    width: 300px;
    height: 100%;
    margin: auto;
    background-color: rgba(255, 0, 0, 0.123);
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid pink;
}

.over-img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.65);
}

.categ-phones{
    width: 200px;
    text-align: center;
    font-size: 22px;
    color: white;
    background-color: rgba(0, 0, 0, 0.644);
    border: 3px solid white;
    padding: 10px 30px;
    border-radius: 30px;
}