<%- include('./includes/navsec', {pageCSS: 'accounts.css', pageJS: 'accounts.js', title: 'ACCOUNTS'}) %>

<div id="accounts-content">
    <div class="hol-today row">
        <div class="today-amt">
            <div class="row"> 
                <span class="today-ico">
                    <ion-icon name="today-outline" class="cal-ico"></ion-icon> 
                    <span class="cust-date">Today</span> 
                </span>
                <form action="" class="period-form">
                    <div class="hol-reset center">
                        <input type="date" class="res-date" name="resinp" id="">
                        <button class="reset"><span class="center"><ion-icon name="reload-outline" class="reset-ico center"></ion-icon></span></button>
                    </div>
                </form>
            </div>
            <p class="full-amt">GH₵ <span class="main-amt"></span></p>
            <p>
                <span class="tag-head">Products Sold</span><br>
                <p class="hol-tags">
                    <span class="tags">Phone</span>
                    <span class="tags">Charger</span>
                    <span class="tags">Case</span>
                </p>
            </p>
        </div>
        <div class="today-type row">
            <div class="tran-type">
                <div class="type-img" style="background-image:url('/imgs/cash.png')"></div>
                <p>GH₵ <span class="cash-amt"></span></p>
                <span class="sub-span">Cash</span>
            </div>
            <div class="tran-type">
                <div class="type-img" style="background-image:url('/imgs/momo.jpg')"></div>
                <p>GH₵ <span class="momo-amt"></span></p>
                <span class="sub-span">Momo</span>
            </div>
        </div>
    </div>

    <div class="hol-past row">
        <div class="left-chart">
            <p class="left-head">
                <span class="top-left">Products Sold</span>
                <span class="top-right">Total Amount (GH₵<span class="left-head-amt"></span>)</span>
            </p>
            <div class="prds-sold">
                <ul class="hold-sold"></ul>
            </div>
        </div>

        <div class="right-chart">
            <div id="trans-chart"></div>
        </div>
    </div>
</div>

<%- include('./includes/navfooter') %>
