<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/resources/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sales/analytics.css">
    <script src="/resources/jquery.min.js" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SALES</title>
</head>
<body>
    <section id="main">
        <div class="hol-secs row">
            <div class="left-nav">
                <div class="left-container center">
                    <div class="logo-sec"></div>
                    <div class="user-sec row">
                        <div class="user-img">
                            <div class="user-dp center"></div>
                        </div>
                        <div class="user-text">
                            <div class="hol-user-spans center">
                                <span class="name"><b>Christiana Dzill</b></span>
                                <span class="job" style="font-size:18px">Sales Representative</span>
                            </div>
                        </div>
                    </div>
                    <div class="nav-cont">
                        <ul>
                            <li class="row">
                                <span class="li-ico">
                                    <ion-icon name="tv-outline" class="tv-ico center"></ion-icon>
                                </span>
                                <span class="li-text">
                                   <span class="text center">Dashboard</span> 
                                </span>
                            </li>
                            <li class="row">
                                <span class="li-ico">
                                    <ion-icon name="stats-chart-outline" class="tv-ico center"></ion-icon>
                                </span>
                                <span class="li-text">
                                   <span class="text center">Analytics</span> 
                                </span>
                            </li>
                            <li class="row">
                                <span class="li-ico">
                                    <ion-icon name="search-outline" class="tv-ico center"></ion-icon>
                                </span>
                                <span class="li-text">
                                   <span class="text center">Look Up</span> 
                                </span>
                            </li>
                            <li class="row">
                                <span class="li-ico">
                                    <ion-icon name="construct-outline" class="tv-ico center" style="color:red"></ion-icon>
                                </span>
                                <span class="li-text">
                                   <span class="text center">Services</span> 
                                </span>
                            </li>   
                        </ul>
                    </div>

                    <div class="left-nav-footer">

                    </div>
                </div>
            </div>

            <div class="right-section">
                <div class="right-container">
                    <div class="right-nav">
                        <div class="nav">
                            <form action="" class="center">
                                <input type="text" name="" id="" placeholder="Search System">
                                <button>
                                    <ion-icon name="search-outline"></ion-icon>
                                </button>
                            </form>

                            <div class="hol-btns center">
                                <span class="hol-btn-ico">
                                    <ion-icon name="home-outline" class="top-ico center"></ion-icon>
                                </span>
                                <span class="hol-btn-ico">
                                    <ion-icon name="notifications-outline" class="top-ico center"></ion-icon>
                                </span>
                                <span class="hol-btn-ico">
                                    <ion-icon name="scan-outline" class="top-ico center"></ion-icon>
                                </span>
                                <span class="hol-btn-ico">
                                    <ion-icon name="apps-outline" class="top-ico center"></ion-icon>
                                </span>
                            </div>
                        </div>
                    </div>

    
                    <div class="right-cont">
                        <div class="hol-two-spans row">
                            <div class="hol-span">
                                <div class="span-1-of-2"></div>
                            </div>
                            <div class="hol-span">
                                <div class="span-1-of-2"></div>
                            </div>
                            <!-- <div class="hol-span">
                                <div class="span-1-of-2"></div>
                            </div>
                            <div class="hol-span">
                                <div class="span-1-of-2"></div>
                            </div> -->
                            <div class="hol-span">
                                <div class="span-2-of-2"></div>
                            </div>
                            <div class="hol-span">
                                <div class="span-2-of-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>