<!-- resources for this file -->

<!-- resources for this file -->
<%- include('./includes/navsec', {pageCSS: 'dashboard.css', pageJS: 'dashboard.js', title: 'DASHBOARD'}) %>
<div class="hol-two-spans row">
    <div class="hol-span">
        <div class="span-1-of-2">
            <span class="span-text">Weekly Sales</span>
            <div class="hol-dash row">
                <div class="dash-of-2">
                    <span class="dash-amt center">$55,900</span>
                </div>
                <div class="dash-of-2"></div>
            </div>
        </div>
    </div>

    <div class="hol-span">
        <div class="span-1-of-2">
            <span class="span-text">Market Share</span>
            <div class="hol-dash row">
                <div class="dash-of-2" style="margin-top:20px">
                    <div class="list-of-2 row">
                        <div class="prd-list">
                            <ul>
                                <li><span class="prds" style="background-color: rgb(0, 92, 197);"></span>Phones</li>
                                <li><span class="prds" style="background-color: rgb(0, 171, 214);"></span>Chargers</li>
                                <li><span class="prds" style="background-color: rgb(228, 228, 228);"></span>Protectors</li>
                                <!-- <li><span class="prds"></span>Covers</li> -->
                            </ul>
                        </div>
                        <div class="dash-perc">
                            <ul>
                                <li>40%</li>
                                <li>22%</li>
                                <li>30%</li>
                                <!-- <li>18%</li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="dash-of-2" style="overflow:hidden;">
                    <div id="share" class="center"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="hol-span">
        <div class="span-2-of-2">
            <div class="cont-header">
                <span class="text center">Recent Activities</span>
            </div>

            <div class="table-cont">
                <div class="hol-table">
                    <table>
                        <thead></thead>
                        <tbody>
                            <tr class="">
                                <td>iPhone 13 Pro Max</td>
                                <td class="amt">$5,300</td>
                                <td><span>Sold</span></td>
                                <td>Today</td>
                            </tr>
                            <tr class="">
                                <td>iPhone 11 (64 GB)</td>
                                <td class="amt">$5,300</td>
                                <td><span style="background-color: rgb(172, 254, 172);color:green;">Added</span></td>
                                <td>Yesterday</td>
                            </tr>
                            <tr class="">
                                <td>iPhone 8 (128 GB)</td>
                                <td class="amt">$5,300</td>
                                <td><span>Sold</span></td>
                                <td>2 days ago</td>
                                <!-- <td>Wednesday, 19<sup>th</sup> September, 2022</td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="hol-span">
        <div class="span-2-of-2">
            <span class="ch-title">Total Sales</span>
            <div class="hol-chart">
                <div id="rec-chart" class="center"></div>
            </div>
        </div>
    </div>
</div>

<%- include('./includes/navfooter') %>


