<%- include('./includes/navsec', {pageCSS: 'search.css', pageJS: 'search.js', title: 'SEARCH'}) %>
    <div id="search-content">
        <div class="hol-search-form">
            <form action="" class="search-form center">
                <select name="search-by" id="" class="search-by">
                    <option value="">SEARCH BY</option>
                    <option value="imei">IMEI</option>
                    <option value="serial">SERIAL NUMBER</option>
                    <option value="customer">CUSTOMER DETAILS</option>
                    <option value="date">DATE</option>
                </select>
                <input type="text" class="search-inp" name="search" placeholder="">
            </form>
        </div>

        <div class="hol-search-content">

        </div>
    </div>


<%- include('./includes/navfooter') %>
