<%- include('./includes/navsec', {pageCSS: 'search.css', pageJS: 'search.js', title: 'SEARCH'}) %>
    <div id="search-content">
        <div class="hol-search-form">
            <form action="" class="search-form center">
                <select name="search-by" id="" class="search-by">
                    <option value="">SEARCH BY</option>
                    <option value="imei">IMEI</option>
                    <option value="serial">SERIAL NUMBER</option>
                    <option value="customer">CUSTOMER DETAILS</option>
                    <option value="date">DATE</option>
                </select>
                <input type="text" class="search-inp" name="search" placeholder="">
            </form>
        </div>

        <div class="hol-search-content">
            <div class="row search-row">
                <!-- <div class="hol-search">
                    <div class="search-1-of-3">
                        <p class="item-head">
                            <span class="item-name">Type C Full set (2 pins)</span>&nbsp;
                            <span class="item-status">Available</span>
                        </p>
                        <div class="search-content">
                            <table>
                                <tr>
                                    <td><span class="res-title">IMEI</span><span class="res-data">38438438948989</span></td>
                                </tr>
                                <tr>
                                    <td><span class="res-title">IMEI</span><span class="res-data">38438438948989</span></td>
                                </tr>
                                <tr>
                                    <td><span class="res-title">IMEI</span><span class="res-data">38438438948989</span></td>
                                </tr>
                                <tr>
                                    <td><span class="res-title">LAST</span><span class="res-data">38438438948989</span></td>
                                </tr>
                            </table>
                        </div>
                        <p class="item-foot">
                            <span class="date-tit">Date Added : </span>&nbsp;
                            <span class="date-content">21st March 2023</span>
                        </p>
                    </div>
                </div> -->
                <div class="hol-search">
                    <div class="search-1-of-3">
                       
                    </div>
                </div>
                <div class="hol-search">
                    <div class="search-1-of-3">
                        
                    </div>
                </div>
                <div class="hol-search">
                    <div class="search-1-of-3">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


<%- include('./includes/navfooter') %>
